@model Asp.NET_E_Commerce_MVC5_ENTITY_.Models.PRODUCT
@{
    ViewBag.Title = "PRODUCT_UPDATE";
    Layout = "~/Views/Shared/_ADMINLAYOUT.cshtml";
}

<div class="m-3">
    <div class="p-2 pl-4 mb-4  rounded" style="display:flex;flex-wrap:wrap;align-items:center;background-color:#434851">
        <div class="m-0 text-white" style="text-align:center;width:20%"><h5 class="m-0">Ürün Güncelleme Formu</h5></div>
        <div class="bg-white rounded ml-5" style="height:2px;width:70%"></div>
    </div>
    <hr />

    <form class="form-group row" method="post" enctype="multipart/form-data">
        <div class="col-12">
            @Html.Label("Ad")
            @Html.TextBoxFor(c => c.NAME, new { @class = "form-control" })
            <div style="position:relative">
                <span style="position:absolute;right:20px">@Html.ValidationMessage("NAME", new { @style = "color:red" })</span>
            </div>
        </div>
        <div class="col-6 py-3">
            @Html.Label("Marka")
            @Html.TextBoxFor(c => c.BRAND, new { @class = "form-control" })
            <div style="position:relative">
                <span style="position:absolute;right:20px">@Html.ValidationMessage("BRAND", new { @style = "color:red" })</span>
            </div>
        </div>
        <div class="col-6 py-3">
            @Html.Label("Stok")
            @Html.TextBoxFor(c => c.STOCK, new { @class = "form-control" })
            <div style="position:relative">
                <span style="position:absolute;right:20px">@Html.ValidationMessage("STOCK", new { @style = "color:red" })</span>
            </div>
        </div>
        <div class="col-6">
            @Html.Label("Akış Fiyatı")
            @Html.TextBoxFor(c => c.BUYPRICE, new { @class = "form-control" })
            <div style="position:relative">
                <span style="position:absolute;right:20px">@Html.ValidationMessage("BUYPRICE", new { @style = "color:red" })</span>
            </div>
        </div>
        <div class="col-6">
            @Html.Label("Satış Fiyatı")
            @Html.TextBoxFor(c => c.SALESPRICE, new { @class = "form-control" })
            <div style="position:relative">
                <span style="position:absolute;right:20px">@Html.ValidationMessage("SALESPRICE", new { @style = "color:red" })</span>
            </div>
        </div>
        <div class="col-6 py-3">
            @Html.Label("Durum")
            @Html.DropDownList("PRODUCT_STATUS",
                 new List<SelectListItem> {
                     new SelectListItem {
                        Text="Etkin",
                        Value="1",
                        Selected = true
                     },
                     new SelectListItem {
                        Text="Pasif",
                        Value="0",
                     },
                 }, new { @class = "form-control" })
        </div>
        <div class="col-6 py-3">
            @Html.Label("Kategori")
            @Html.DropDownListFor(c => c.CATEGORY, (List<SelectListItem>)ViewBag.ViewBagsLI
           , new { @class = "form-control" })
            @*@Html.TextBoxFor(c => c.CATEGORY, new { @class = "form-control" })*@
        </div>
        <div class="col-12 py-3">
            <div>@Html.Label("Kategori Resim Url")</div>
            <input name="CATEGORY_IMAGE" type="file" />
        </div>

        <button class="mt-3 col-12 btn btn-info">Güncelle</button>
    </form>
</div>