@using Asp.NET_E_Commerce_MVC5_ENTITY_.Models
@model List<SALESMOVEMENT>
@{
    ViewBag.Title = "EMPLOYEE_SALESMOVEMENT_DETAIL";
    Layout = "~/Views/Shared/_ADMINLAYOUT.cshtml";
}
@section scripts {
    <link rel="stylesheet" href="~/Content/jquery.fancybox.css?v=2.1.7" type="text/css" media="screen" />
    <script type="text/javascript" src="~/Scripts/jquery.fancybox.pack.js?v=2.1.7"></script>
    <script>$(function () {$(".fancybox").fancybox({openEffect: 'elastic',closeEffect: 'elastic',helpers: {title: {type: 'inside'}}});});</script>
}
<ol class="breadcrumb m-3" style="position:relative">
    <li class="breadcrumb-item active" aria-current="page">
    Personel Adı : <b>@ViewBag.ENAME</b> 
    <span  style="position:absolute;right:50px;">Ürün Satış Hareketleri</span> </li>
</ol>

<div class="container-fluid mt-4">
    <table class="table table-hover table-light table-striped">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Personel</th>
                <th scope="col">Cari</th>
                <th scope="col">Tarih</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var x in Model)
            {
                <tr>
                    <td>@x.ID</td>
                    <td>@x.EMPLOYEE.NAME</td>
                    <td>@x.CARI.NAME</td>
                    <td>@x.DATE</td>
                    <td><a class="btn text-info p-0" href="~/SALESMOVEMENT/SALESMOVEMENTLOWER/@x.ID"><i class="fa fa-info-circle"></i> Ürün Detayı</a></td>
                </tr>
            }
        </tbody>
    </table>
</div>
